{% extends "books/base.html" %} {% block main %}
<style>
  #bigwelcome {
    display: none;
  }
</style>
<script>
  function buttonwait() {
    document.getElementById("loginbutton").innerHTML =
      "<a aria-busy='true'>请稍等</a>";
  }
</script>
<header>
  <div class="container">
    <div class="grid">
      <hgroup>
        <h1>轮回书库</h1>
        <h2>登录</h2>
      </hgroup>
      <main class="container">
        <form role="form" action="{% url 'users:login' %}" method="POST">
          {% csrf_token %}
          <div>
            <a><strong>用户名</strong></a> <input type="text" name="username" />
          </div>
          <div>
            <a><strong>密码</strong></a>
            <input type="text" name="password" />
          </div>
          <button
            id="loginbutton"
            name="submit"
            class="contrast"
            onclick="buttonwait()"
          >
            <a>登录</a>
          </button>
        </form>
      </main>
    </div>
  </div>
</header>

{% endblock %}
